<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Daikin Controller</title>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.9.3/dijit/themes/claro/claro.css">
<script>dojoConfig = {async: true, parseOnLoad: true}</script>
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.9.3/dojo/dojo.js"></script>
<script>
require([
		'dojo/dom',
		'dojo/dom-construct',
		'dojo/parser',
		'dijit/form/Select',
		'dijit/form/NumberSpinner',
		'dijit/form/Button',
		'dijit/form/ToggleButton',
		'dijit/form/TimeTextBox'
		])
</script>
</head>
<body class="claro">
<form method="post">
	{%include "toggle_button.html" with id="power" checked=power text="POWER"%}<p>

	Fan: <select name="fan_select" data-dojo-type="dijit/form/Select">
		{% for fan in fan_powers %}
		<option value="{{fan.value}}" {% if fan.selected %}selected="selected"{% endif %}>{{fan.name}}</option>
		{% endfor %}
	</select><p>

	Mode: <select name="mode_select" data-dojo-type="dijit/form/Select">
		{% for mode in modes %}
		<option value="{{mode.value}}" {% if mode.selected %}selected="selected"{% endif %}>{{mode.name}}</option>
		{% endfor %}
	</select><p>

	Temperature:<input
	id="temperature"
	name="temperature"
	value="{{temperature.value}}"
	data-dojo-props="constraints:{min:{{temperature.min}},max:{{temperature.max}}}"
	style="width:50px"
	data-dojo-type="dijit/form/NumberSpinner"
	/><p>

	Deflectors:
	<input id="vert_deflector" name="vert_deflector" data-dojo-type="dijit/form/CheckBox"
		{% for v in vert_deflector %}
		{% if v.key == "DEFLECTOR_ON" and v.selected %}checked="true"{% endif %}
		{% endfor %}
		/><label for="vert_deflectors">Vertical</label>

	<input id="horiz_deflector" name="horiz_deflector" data-dojo-type="dijit/form/CheckBox"
		{% for v in horiz_deflector %}
		{% if v.key == "DEFLECTOR_ON" and v.selected %}checked="true"{% endif %}
		{% endfor %}
		/><label for="horiz_deflectors">Horizontal</label>
	<p>

	{%include "toggle_button.html" with id="comfort" checked=comfort text="Comfort"%}<p>

	{%include "toggle_button.html" with id="quiet" checked=quiet text="Quiet"%}<p>

	{%include "toggle_button.html" with id="motion_detect" checked=motion_detect text="Motion Detect"%}<p>

	{%include "toggle_button.html" with id="eco" checked=eco text="Eco"%}<p>

	{%include "toggle_button.html" with id="timer" checked=timer text="Timer Enabled"%}<p>

	Turn On: {%include "timer_selection.html" with id="turn_on_time" value=turn_on_time%}<p>

	Turn Off: {%include "timer_selection.html" with id="turn_off_time" value=turn_off_time%}<p>

	<button data-dojo-type="dijit/form/Button" type="submit">Transmit</button>

</form>

</body>
</html>
