<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Daikin Controller</title>
<link rel="stylesheet" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/freon.css">
<script src="static/jquery-2.1.3.min.js"></script>
<script src="static/bootstrap.min.js"></script>
<script src="static/freon.js"></script>
</head>
<body>

<form method="post">
	<div class="row"><div class="col-md-4"></div><div class="col-md-4">
	<div id="alert" class="alert" role="alert"></div>

	<button id="power" class="toggle">POWER</button><p>

	Fan
	<select id="fan" class="form-control">
		{% for fan in fan_powers %}
		<option id="fan-{{fan.value}}" value="{{fan.value}}">{{fan.name}}</option>
		{% endfor %}
	</select><p>

	Mode <select id="mode" class="form-control">
		{% for mode in modes %}
		<option id="mode-{{mode.value}}" value="{{mode.value}}">{{mode.name}}</option>
		{% endfor %}
	</select><p>

	Temperature
	<input id="temp" class="form-control" type="text"/><p>

	Deflectors
	<button id="vert_deflector" class="btn btn-danger">Vertical</button>
	<button id="horiz_deflector" class="btn btn-danger">Horizontal</button><p>

	<button id="comfort" class="toggle">Comfort</button><p>

	<button id="quiet" class="toggle">Quiet</button><p>

	<button id="motion_detect" class="toggle">Motion Detect</button><p>

	<button id="eco" class="toggle">Eco</button><p>

	<button id="on_timer" class="btn btn-danger">On Timer</button>
	<input id="turn_on_time" class="form-control" type="text"/><p>

	<button id="on_timer" class="btn btn-danger">Off Timer</button>
	<input id="turn_off_time" class="form-control" type="text"/><p>

	<button id="submit" type="submit" class="btn btn-primary btn-block">Transmit</button>

</div></div>
</form>

</body>
</html>

